header {
font-size: 50px;
}


p {
	color: green;
}

.navbar-header img {
	max-width: 100px;
	max-height: 100px;
}

#background {
	background-image: url(../img/header-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
